.wrapper {
	margin: 8px 16px;
	padding: 8px 16px;
	width: 900px;
	border: 1px #999 solid;
	border-radius: 5px;
	overflow: hidden;
	font-size: 1.6rem;
	line-height: 2.2rem;

	&:focus {
		border-color: #000;
	}
}