.wrapper {
	padding: 5px;
	min-width: 100px;
	height: 40px;
	border-radius: 5px;
	color: #fff;
	background-color: var(--primary-color);
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 600;
	font-size: 1.4rem;
	cursor: pointer;

	.content {
		margin-right: 8px;
	}
	
	&.error {
		background-color: #f42222;
		color: #fff;
	}
}