.wrapper {
	position: absolute;
	padding: 12px 0;
	width: 220px;
	right: -10px;
	top: 55px;
	z-index: 9999;
	background-color: var(--primary-color);
	box-shadow: 0 0 3px var(--primary-color);
	color: #fff;
	border-radius: 5px;

	&::after {
		content: '';
		position: absolute;
		top: -10px;
		height: 20px;
		width: 20px;
		transform: rotate(45deg);
		background-color: var(--primary-color);
		border-top: 2px solid #99999960;
		border-left: 2px solid #99999960;
		right: 16px;
	}
}

.item {
	display: flex;
	align-items: center;
	height: 48px;
	font-size: 1.8rem;
	padding: 0 16px;

	&:hover {
		background-color: var(--primary-color-hover);
		color: #fff;
	}
}

.title {
	margin-left: 8px;
}