.wrapper {
	width: 280px;
	padding: 0 16px;
	box-shadow: 0 0 12px 3px var(--primary-color-hover);
}

//Menu Item
.menu-item {
	display: flex;
	align-items: center;
	padding: 12px 16px;
	color: var(--text-color);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.12);
	border-radius: 5px;
	overflow: hidden;

	&:hover {
		background-color: var(--primary-color-hover);
		color: #fff;
	}

	&.active {
		background-color: var(--primary-color) !important;
		color: #fff;
	}
}

.icon {
	width: 25px;
}

.title {
	padding-left: 12px;
	font-size: 1.8rem;
	line-height: 2.4rem;
	font-weight: 500;
}